name: Testing

on: [push, pull_request]

jobs:
  test:
    runs-on: linux-latest

    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v2

    
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
       node-version: 18

    
    - name: Run tests
      run: npx jest --config jest.config.js


    
    - name: Run tests
      run: npm test
